html {
	font-family: 'Open Sans', sans-serif;
}

/* Header intro */
.header { 
	background-color: #001644;
	color: #fff;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 500px;
	margin-bottom: 50px;
}

.header .container {
	width: 80%;
}

.header h1 {
	color: #fff;
	font-weight: 300;
	font-size: 56px;
}

.header p {
	font-size: 30px;
	font-weight: 400;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}