html {
	font-family: 'Open Sans', sans-serif;
}

/* Header intro */
.header {
	background-color: #001644;
	color: #fff;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 500px;
	margin-bottom: 50px;
	text-align: left;
}

.header .container {
	width: 80%;
}

.container {
	width: 90%;
}

.header h1 {
	color: #fff;
	font-weight: 300;
	font-size: 56px;
	margin-top: 50px;
}

.header p {
	font-size: 30px;
	font-weight: 400;
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}



/* About section */
.about {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	margin-bottom: 50px;
}

.about h1 {
	text-align: center;
	font-size: 58px;
	font-weight: 300;
	margin-bottom: 50px;
	color: #001644;
}

.about p {
	text-align: left;
	font-size: 21px;
}

.about .btn-github {
	color: #001644;
	border-color: #001644;
	font-size: 24px;
	border-radius: 0px;
	margin-top: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.about .btn:hover {
	color: #fff;
	background-color: #001644;
	font-size: 24px;
	border-radius: 0px;
	margin-top: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

/* Education section */
.education {
	background-color: #AA6B39;
}

.education h1 {
	color: #fff;
	font-size: 58px;
	font-weight: 300;
	margin-top: 50px;
	margin-bottom: 50px;
	color: #fff;
	text-align: center;
}

.education .school {
	background-color: #fff;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 50px;
}

.education .school h1 {
	text-align: center;
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: 400;
	color: #001644;
	margin-top: 10px;
	padding-top: 10px;
}

.education .school .major-date {
	font-size: 24px;
	color: #000;
	font-weight: 300;
}

.education .school p {
	font-size: 16px;
	padding-bottom: 10px;
}

/* Work Section */
.work {
	background-color: #fff;
	color: #001644;
}

.work h1 {
	color: #001644;
	font-size: 58px;
	font-weight: 300;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.work .job {
	padding-top: 10px;
	padding-bottom: 10px;
	border-left-width: 5px;
	border-left-color: #001644;
	border-left-style: solid;
	padding-left: 15px;
	margin-bottom: 30px;
}

.work .job .name {
	color: #001644;
	text-align: left;
	font-size: 28px;
	margin-top: 0px;
	margin-bottom: 5px;
	font-weight: 400;
}

.work .job .title-date {
	color: #000;
	text-align: left;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight: 300;
}

.work .job .description {
	color: #000;
	text-align: left;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight: 300;
}

.projects {
	background-color: #001644;
	color: #fff;
}

.projects h1 {
	color: #fff;
	font-size: 58px;font-weight: 300;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.projects .project {
	padding-top: 10px;
	padding-bottom: 10px;
	border-left-width: 5px;
	border-left-color: #fff;
	border-left-style: solid;
	padding-left: 15px;
	margin-bottom: 30px;
	color: #fff;
}

.projects .project .name {
	color: #fff;
	text-align: left;
	font-size: 28px;
	margin-top: 0px;
	margin-bottom: 5px;
	font-weight: 400;
}

.projects .project .title-date {
	color: #fff;
	text-align: left;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight: 300;
}

.projects .project .description {
	color: #fff;
	text-align: left;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight: 300;
}
