/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-color: rgb(238, 238, 238);
}

#header {
    float: left;
    height: 331px;
    margin-left: 0%;
    margin-top: -139.90625px;
    clear: none;
    width: 100%;
    background-color: rgb(1, 168, 150);
}

#name {
    float: left;
    font-size: 55px;
    width: 51.683348%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 8.049932%;
    margin-top: 197px;
    clear: none;
    min-height: 0px;
    font-family: open-sans;
    color: rgb(238, 238, 238);
}

#yellowCircle {
    float: left;
    height: 59.8125px;
    margin-left: 9.205812%;
    margin-top: 49px;
    clear: both;
    width: 59.8125px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-right: 0%;
    background-color: rgb(252, 180, 70);
    box-shadow: rgb(107, 105, 105) 0px 1px 3px 0px;
}

#image {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    visibility: hidden;
    position: absolute;
    top: 434.0625px;
    left: 0%;
}

#nameInformationBox {
    float: left;
    height: 260px;
    margin-left: -40.26672%;
    margin-top: 135px;
    clear: both;
    width: 40.26672%;
    background-color: rgb(255, 255, 255);
}

#image2 {
    float: left;
    width: auto;
    max-width: 33.355548%;
    height: auto;
    margin-left: 4.531823%;
    margin-top: 60px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-bottom: 12%;
}

#text {
    float: left;
    font-size: 1em;
    width: 53.515495%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 5.081639%;
    margin-top: 98px;
    clear: none;
    min-height: 63.125px;
    margin-right: 0%;
    font-family: open-sans;
    color: rgb(108, 108, 108);
}

#aboutMe {
    float: left;
    height: 260px;
    margin-left: 51.246872%;
    margin-top: -260px;
    clear: none;
    width: 40.221224%;
    background-color: rgb(255, 255, 255);
    margin-right: 0%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

#header1 {
    float: left;
    font-size: 32px;
    width: 46.713624%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6.572752%;
    margin-top: 37px;
    clear: none;
    min-height: 42px;
    font-family: open-sans;
    color: rgb(218, 82, 83);
}

#body {
    float: left;
    font-size: 1em;
    width: 86.854497%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6.572752%;
    margin-top: 10px;
    clear: both;
    min-height: 133px;
    color: rgb(108, 108, 108);
}

#nameInformationBox:hover {
    box-shadow: rgb(107, 105, 105) 0px 0px 3px 0px;
}

#aboutMe:hover {
    box-shadow: rgb(107, 105, 105) 0px 0px 3px 0px;
}

#yellowCircle:hover {
    box-shadow: rgb(107, 105, 105) 0px 5px 3px 0px;
}

#aboutInformation:hover {
    box-shadow: rgb(107, 105, 105) 0px 0px 3px 0px;
}

#aboutInformation {
    float: left;
    height: 260px;
    margin-left: 8.580243%;
    margin-top: 135.40625px;
    clear: both;
    width: 40.221224%;
    margin-right: 0%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

#image1 {
    float: left;
    width: auto;
    height: auto;
    margin-left: 6.482856%;
    margin-top: 47.1875px;
    clear: none;
    color: rgb(0, 0, 0);
    max-width: 34.393779%;
}

#aboutInformationName {
    float: left;
    font-size: 20px;
    width: 53.824673%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 3.30859%;
    margin-top: 98px;
    clear: none;
    min-height: 0px;
    color: rgb(108, 108, 108);
    margin-right: 0%;
}

#education:hover {
    box-shadow: rgb(107, 105, 105) 0px 0px 3px 0px;
}

#education {
    float: left;
    height: 365px;
    margin-left: 8.531904%;
    margin-top: 46px;
    clear: none;
    width: 82.936192%;
    margin-right: 0%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

#educationHeader {
    float: left;
    font-size: 32px;
    width: 46.712038%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6.572752%;
    margin-top: 37px;
    clear: none;
    min-height: 42px;
    font-family: open-sans;
    color: rgb(218, 82, 83);
}

#educationHeader1 {
    float: left;
    font-size: 22px;
    width: 41.980663%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6.567354%;
    margin-top: 35px;
    clear: both;
    min-height: 42px;
    font-family: open-sans;
    margin-right: 0%;
}

#educationBody1 {
    float: left;
    font-size: 1em;
    width: 41.980663%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6.629067%;
    margin-top: 7.59375px;
    clear: both;
    min-height: 133px;
    color: rgb(108, 108, 108);
    margin-right: 0%;
}

#educationHeader11 {
    float: left;
    font-size: 22px;
    width: 37.057291%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 8.84047%;
    margin-top: 35px;
    clear: none;
    min-height: 42px;
    font-family: open-sans;
    margin-right: 0%;
}

#educationBody11 {
    float: left;
    font-size: 1em;
    width: 37.057291%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 8.778757%;
    margin-top: 7.59375px;
    clear: none;
    min-height: 133px;
    color: rgb(108, 108, 108);
    margin-right: 0%;
}

#skills:hover {
    box-shadow: rgb(107, 105, 105) 0px 0px 3px 0px;
}

#skills {
    float: left;
    height: 320px;
    margin-left: 8.531904%;
    margin-top: 43.5px;
    clear: both;
    width: 82.936192%;
    margin-right: 0%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

#header2 {
    float: left;
    font-size: 32px;
    width: 46.712038%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6.572496%;
    margin-top: 37px;
    clear: none;
    min-height: 42px;
    font-family: open-sans;
    color: rgb(218, 82, 83);
}

#circle1:hover {
    box-shadow: rgb(107, 105, 105) 0px 5px 3px 0px;
}

#circle1 {
    float: left;
    height: 149.8125px;
    width: 149.8125px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    box-shadow: rgb(107, 105, 105) 0px 1px 3px 0px;
    background-color: rgb(3, 169, 244);
    padding-left: 20px;
}

#circle2:hover {
    box-shadow: rgb(107, 105, 105) 0px 5px 3px 0px;
}

#circle2 {
    float: left;
    height: 149.8125px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 149.8125px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-right: 0%;
    box-shadow: rgb(107, 105, 105) 0px 1px 3px 0px;
    background-color: rgb(3, 169, 244);
}

#circle3:hover {
    box-shadow: rgb(107, 105, 105) 0px 5px 3px 0px;
}

#circle3 {
    float: left;
    height: 149.8125px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 149.8125px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-right: 0%;
    box-shadow: rgb(107, 105, 105) 0px 1px 3px 0px;
    background-color: rgb(3, 169, 244);
}

#circle4:hover {
    box-shadow: rgb(107, 105, 105) 0px 5px 3px 0px;
}

#circle4 {
    float: left;
    height: 149.8125px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 149.8125px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-right: 0%;
    box-shadow: rgb(107, 105, 105) 0px 1px 3px 0px;
    background-color: rgb(3, 169, 244);
}

#aboutMe1:hover {
    box-shadow: rgb(107, 105, 105) 0px 0px 3px 0px;
}

#aboutMe1 {
    float: left;
    height: 409.078125px;
    margin-left: 8.583087%;
    margin-top: 40px;
    clear: both;
    width: 82.885009%;
    margin-right: 0%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

#header3 {
    float: left;
    font-size: 32px;
    width: 46.713438%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6.572752%;
    margin-top: 37px;
    clear: none;
    min-height: 42px;
    font-family: open-sans;
    color: rgb(218, 82, 83);
}

#box {
    float: left;
    height: 172.671875px;
    margin-left: 6.550825%;
    margin-top: 34.0625px;
    clear: both;
    width: 172.671875px;
    background-color: rgb(3, 169, 244);
}

#box1 {
    float: left;
    height: 172.671875px;
    margin-left: 3.869773%;
    margin-top: 34.0625px;
    clear: none;
    width: 172.671875px;
    margin-right: 0%;
    background-color: rgb(3, 169, 244);
    padding-left: 11.4%;
}

#box2 {
    float: left;
    height: 172.671875px;
    margin-left: 5.204295%;
    margin-top: 40.8125px;
    clear: none;
    width: 172.671875px;
    margin-right: 0%;
    background-color: rgb(3, 169, 244);
}

#box3 {
    float: left;
    height: 172.671875px;
    margin-left: 5.324368%;
    margin-top: 40.8125px;
    clear: none;
    width: 172.671875px;
    margin-right: 0%;
    background-color: rgb(3, 169, 244);
}

#text1 {
    float: left;
    font-size: 1em;
    width: 18.993791%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6.513088%;
    margin-top: 12.515625px;
    clear: both;
    min-height: 30px;
    font-family: open-sans;
    color: rgb(3, 169, 244);
}

#text2 {
    float: left;
    font-size: 1em;
    width: 18.993791%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 4.537034%;
    margin-top: 12.515625px;
    clear: none;
    min-height: 30px;
    font-family: open-sans;
    color: rgb(3, 169, 244);
    margin-right: 0%;
}

#text3 {
    float: left;
    font-size: 1em;
    width: 18.993791%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 4.387801%;
    margin-top: 12.515625px;
    clear: none;
    min-height: 30px;
    font-family: open-sans;
    color: rgb(3, 169, 244);
    margin-right: 0%;
}

#text4 {
    float: left;
    font-size: 1em;
    width: 18.993791%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 5.398127%;
    margin-top: 12.515625px;
    clear: none;
    min-height: 30px;
    font-family: open-sans;
    color: rgb(3, 169, 244);
    margin-right: 0%;
}

#contact:hover {
    box-shadow: rgb(107, 105, 105) 0px 0px 3px 0px;
}

#contact {
    float: left;
    height: 436.078125px;
    margin: 24.375px 0% 60px 8.531904%;
    clear: both;
    width: 82.885009%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 0px;
}

#header4 {
    float: left;
    font-size: 32px;
    width: 46.713438%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6.572752%;
    margin-top: 37px;
    clear: none;
    min-height: 42px;
    font-family: open-sans;
    color: rgb(218, 82, 83);
}

#yellowCircle1:hover {
    box-shadow: rgb(107, 105, 105) 0px 5px 3px 0px;
}

#yellowCircle1 {
    float: left;
    height: 76.8125px;
    margin-left: 87.61021%;
    margin-top: 314.1875px;
    clear: both;
    width: 76.8124974575px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-right: 0%;
    box-shadow: rgb(107, 105, 105) 0px 1px 3px 0px;
    background-color: rgb(233, 27, 117);
}

